[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/cpr"]
	path = vendor/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz
[submodule "vendor/magic_enum"]
	path = vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
